{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <div>
        <label class="form-label">Username or email:</label>
        <input name="logininfo" type="text" class="form-control">
    </div>

    <div>
        <label class="form-label">Password:</label>
        <input name="password" type="password" class="form-control" style="background-color: rgb(50, 50, 50); color: white;">
    </div>

    <button type="submit" class="btn btn-primary mt-2">Login</button>
</form>

<div class="mt-4">
    Don't have an account yet? <a href="/auth_app/register">Click here</a> and create one now!
</div>
<div class="mt-2">
    Forgot your password? <a href="/auth_app/request_password_reset">Click here</a> and request a reset email!
</div>

{% endblock %}